@import "tailwindcss";

.IAS-container {
  height: 400px; /* Fixed height for the chart */
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.315));
  border-radius: 48px;
  padding-top: auto;
  width: 100%;
}

.active{
  background-color: #00000042;
}

.asys-btn-dimensions{
  width: 260px;
  height: 60px;
}

.asys-btn{
  font-weight: 500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 24px;
  font-size: 26px;
  transition: background-color 0.1s ease-in;
}

.asys-btn:hover{
  background-color: #00000059;
}

.analysisButtonGroup{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.analysisSection{
  background: url('./assets/GraphBG.jpeg') center no-repeat;
  background-size: cover;
}

.analysisSection2{
  background: url('./assets/BGIMGCARD.png') center no-repeat;
  padding: 200px 0px;
}

.auxInfo{
  padding: 50px;
  border-width: 2px;
  border-color: white;
  background-color: #0000008e;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.329);
  border-radius: 48px;
  width: 40%;
}

/* .auxInfo{
  background-color: #2A1C34;
  margin: auto;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  height: 400px;
} */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box{
  display: flex;
  background: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(16px);
  border-top: 1px solid rgba(255, 255, 255, 0.548);
  border-left: 1px solid rgba(255, 255, 255, 0.548);
  border-radius: 32px;
  justify-content: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Cards{
  gap: 32px;
}

.compareItems{
  margin: auto;
  margin-top: 50px;
  width: 90%;
  padding: 60px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.151);
  border-radius: 24px;
  background-image: url('assets/Compar.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

.compareItems img{
  border-radius: 24px;
}

.compareSection{
  background-color: #2A1C34;
  padding-bottom: 10px;
  padding-top: 40px;
}

.compareTitle{
  text-align: center;

  background-color: #2A1C34;
  width: 80%;
  border-color: #86ACA7;
  padding-bottom: 5px;
  border-width: 2px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
}

.compareTitleSection{
  width: 70%;
  margin: auto;
  border-color: red;
  border-width: 2px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
}

.driverDetails{
  color: white;
}

.driverNameText{
  transition: color 5s ease;
}

.dotIndicator{
  background-color: #FF000055;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border-width: 2px;
  border-color: red;
}

.graphContainer{
  padding: 80px 100px 0px 100px;
  display: flex;
  gap: 100px;
  width: 100%;
}

.grid-container{
  display: grid;
  width: 90%;
  padding-top: 128px;
  justify-content: center;
  margin: auto;
  grid-auto-columns: 320px;
  grid-auto-rows: 390px;
  gap: 32px;
  grid-template-areas: 
  "box-1 box-1 box-1 box-1 box-1"
  "box-2 box-2 box-3 box-3 box-3"
  "box-5 box-5 box-5 box-4 box-4";
}

.headerContainer{
  background-color: #2A1C34;
  padding: 50px 0px 50px 0px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.404);
}

.headerSection{
  width: 60%;
  text-align: center;
  color: rgb(216, 216, 216);
}

.homeCards{
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.349);
  transition: box-shadow 0.2s ease, transform 0.2s ease, border-width 0.2s ease-in;
}

.homeCards:hover{
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.281);
  border-width: 1px;
  border-color: #ffffff6c;
  transform: translateY(5px);
}

.homeSection{
  position: relative;
  background: url('./assets/CardsSection2.png') center no-repeat;
}

.HeroSection{
  height: 1500px;
  background: url('./assets/AdobeStock_503463793.jpeg');
  background-size: cover;
}

.infoDisplay{
  background-image: url('./assets/GraphBG.png');
  background-size: cover;
  height: fit-content;
  width: 100%;
  border-radius: 32px;
  border-width: 2px;
  border-color: rgb(199, 199, 199);
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.329);
  padding: 50px;
}

.infoOuter{
  padding-bottom: 80px;
}

.InfoAccordian{
  background-color: #2A1C34;
  padding-top: 50px;
}

.outerNav{
  background-color: #393E41;
}

.pieArea{
  padding: 50px 0px;
  width: 90%;
  margin: auto;
}

.previewVisuals{
  margin: auto;
  width: 100%;
  height: 600px;
}

.selectionIMG{
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.219);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.selectionIMG:hover{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.39);
  transform: scale(1.01);
}

.teamScroll{
  margin: 60px auto;
  padding: 48px 0px;
  width: 90%;
  border-radius: 24px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.219);
  background-image: url('./assets/BGIMGCARD.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.text-align-center{
  text-align: center;
}

.TimeLineSection{
  background-color: #2A1C34;
}

.timelineTitle{
  border-bottom: solid 3px;
  border-color: #86ACA7;
  text-align: center;
  padding-top: 40px;
  width: 80%;
}

.timelineTitle h1{
  padding: 20px;
}

.timeIMG{
  width: 60%;
  margin: auto;
  margin-top: 80px;
  border-radius: 48px;
}

.welcomeText{
  display: flex;
}

#AccordianButton{
  width: 70%;
  margin: auto;
}

#AccordianButton button{
  border-radius: 24px;
  background-color: #7e080e;
}

#bentoGraph{
  width: 100%;
  padding: 32px;
}

#box-1 h1{
  color: white;
  margin: auto;
  width: fit-content;
  letter-spacing: 8px;
  font-size: 64px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.329);
}

#box-2{
  position: relative;
  background: url('./assets/AdobeStock_586498710.jpeg');
  background-size: cover;
  box-shadow: inset 0px 0px 48px 48px black;
}

#box-2 h1{
  width: 90%;
  color: white;
  font-size: 80px;
  text-align: center;
  height: fit-content;
  justify-self: center;
  align-self: center;
  margin: 0;
  z-index: 1;
}

#box-2::after{
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.664);
  inset: 0;
  border-radius: inherit;
}

#box-3{
  display: flex;
  align-items: center;
}

#box-4{
  background: url('./assets/AnalysisOneLogo.jpg');
  background-size: cover;
  background-position-y: 50%;
}

#VS-text{
  color: #ED9642;
  font-size: 55px;
  margin: 0;
}

#VS-text2{
  color: #0C77F8;
  background-color: #0000004f;
  padding: 10px 0px;
  border-radius: 20px;
  margin-bottom: 20px;
}

#_card{
  border-style: none;
}

#carouselItem{
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px;
  width: 100%;
}

#compareSubSection{
  width: 100%;
  border-style: none;
  padding-bottom: 30px;
}

#innerNav{
  width: 60%;
  background-color: #0000002f;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.479), 0px 2px rgba(255, 255, 255, 0.055);
  border-radius: 26px;
  font-size: 20px;
}

#navLogo{
  height: 80px;
  position: absolute;
  border-radius: 20px;
  left: 3%;
}

#nav-abt-api{
  color: white;
  position: absolute;
  right: 3%;
  display: flex;
}

#teamA-Button{
  color: rgb(255, 35, 35);
  margin: auto;
  width: 200px;
  margin-top: 20px;
}

#teamB-Button{
  color: #ED9642;
  margin: auto;
  width: 200px;
  margin-top: 20px;
}

#team-text{
  color: white;
  font-weight: 100;
  margin: 0;
  padding-top: 20px;
}

#teamSelectTXT{
  margin: auto;
  text-align: center;
  color: white;
}

.btn-close{
  position: absolute;
  margin-top: 10px;
  margin-left: 750px;
  color: white;
}

.btn{
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tomorrow-bold {
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tomorrow-extralight{
  font-family: "Tomorrow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.tomorrow-extrabold {
  font-family: "Tomorrow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.tomorrow-light {
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tomorrow-mid-regular {
  font-family: "Tomorrow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.tomorrow-regular {
  font-family: "Tomorrow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1{
  font-family: "Tomorrow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.bigNav{
  background-color: #2b2f31;
}

.selectionIMG{
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.219);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.selectionIMG:hover{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.39);
  transform: scale(1.01);
}

.switch {
  position: relative;
  display: inline-block;
  width: 256px;
  height: 64px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switchContainer{
  width: fit-content;
  margin: auto;
  padding: 24px;
}

.Ind-card{
  transition: transform 0.2s ease;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a3875;
  box-shadow: inset 0px 0px 12px 4px rgba(0, 0, 0, 0.85), inset 0px 0px 2px 1px rgba(0, 0, 0, 0.384);
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 6px;
  bottom: 6px;
  background-color: hsl(258, 100%, 80%);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #6021f3;
  box-shadow: inset 0px 0px 12px 4px rgba(0, 0, 0, 0.85), inset 0px 0px 2px 1px rgba(0, 0, 0, 0.384);
}

input:checked + .slider:before {
  transform: translateX(192px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.racerProgressContainer{
  width: 100%;
  height: 100%;
  padding: 32px 0px;
  color: white;
  text-align: center;
}

.team1Progress{
  height: 64px;
  float: left;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgba(187, 0, 0, 0), rgb(139, 0, 0));
  align-self: end;
  translate: 48px 0px;
  margin-bottom: 30px;
  z-index: -1;
}

#team2Progress{
  background: linear-gradient(to right, rgba(187, 0, 0, 0), rgb(9, 110, 177));
}

.Tprogress{
  display: flex;
}