@import "tailwindcss";

.tomorrow-extralight{
  font-family: "Tomorrow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.tomorrow-light {
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tomorrow-bold {
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tomorrow-extrabold {
  font-family: "Tomorrow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1{
  font-family: "Tomorrow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.homeSection{
  position: relative;
  background: url('./assets/BackgroundIMG.png') center no-repeat;
}

.analysisSection{
  background: url('./assets/BackgroundIMG.png') center no-repeat;
  height: 1000px;
}

.text-align-center{
  text-align: center;
}

.infoDisplay{
  background-image: linear-gradient(rgb(53, 53, 53), rgb(61, 61, 61), rgb(65, 0, 0));
  margin: auto;
  margin-top: 100px;
  height: fit-content;
  width: 60%;
  border-radius: 32px;
  border-width: 3px;
  border-color: rgb(199, 199, 199);
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.329);
  padding: 50px;
}

.headerContainer{
  background-color: #2A1C34;
  padding: 50px 0px 50px 0px;
  margin-bottom: 100px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.404);
}

#navLogo{
  width: 120px;
  position: absolute;
  border-radius: 20px;
  left: 3%;
}

#nav-abt-api{
  color: white;
  position: absolute;
  right: 3%;
  display: flex;
}

#innerNav{
  width: 60%;
  background-color: #0000002f;
  border-radius: 26px;
  font-size: 20px;
}

#VS-text{
  color: #ED9642;
  font-size: 55px;
  margin: 0;
}

#team-text{
  color: white;
  font-weight: 100;
  margin: 0;
  padding-top: 20px;
}

#_card{
  border-style: none;
}

#teamA-Button{
  color: rgb(255, 35, 35);
  margin: 0;
}

#teamB-Button{
  color: #ED9642;
  margin: 0;
}

#VS-text2{
  color: #0C77F8;
  background-color: #0000004f;
  padding: 10px 0px;
  border-radius: 20px;
  margin-bottom: 20px;
}

#carouselItem{
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.11);
}

#compareSubSection{
  width: 100%;
  border-style: none;
  padding-bottom: 50px;
}

.pieArea{
  padding: 100px 200px;
  width: 1400px;
}

.pieArea button{
  border-radius: 5px;
}

.previewVisuals{
  margin: auto;
  width: 500px;
  height: 500px;
}

.DataPreview{
  background-image: linear-gradient(rgb(53, 53, 53), rgb(61, 61, 61), rgb(65, 0, 0));
  border-radius: 24px;
  width: fit-content;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.329);
}

.compareSection{
  background-color: #2A1C34;
  padding-bottom: 50px;
}

.homeCards{
  background-color: red;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.219);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.homeCards:hover{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.281);
  transform: scale(1.02) translateY(-5px);
}

.asys-btn-dimensions{
  width: 260px;
  height: 60px;
}

.bigNav{
  background-color: #393E41;
}

.asys-btn{
  font-weight: 500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 24px;
  font-size: 26px;
  transition: background-color 0.1s ease-in;
}

.active{
  background-color: #00000042;
}

.asys-btn:hover{
  background-color: #00000059;
}

.selectionIMG{
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.219);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.selectionIMG:hover{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.39);
  transform: scale(1.01);
}

.analysisButtonGroup{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.Cards{
  gap: 32px;
}

.teamScroll{
  margin: auto;
  padding: 150px 0px;
  width: 90%;
  border-radius: 24px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.219);
}

.compareItems{
  margin: auto;
  width: 90%;
  padding: 60px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.151);
  border-radius: 24px;
}

.compareItems img{
  border-radius: 24px;
}

.compareTitle{
  text-align: center;
  padding-top: 60px;
  background-color: #2A1C34;
  width: 80%;
  border-color: #86ACA7;
  padding-bottom: 5px;
  border-width: 2px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
}

.compareTitleSection{
  width: 70%;
  margin: auto;
  border-color: red;
  border-width: 2px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
}

.outerNav{
  background-color: #393E41;
}

.headerSection{
  width: 60%;
  text-align: center;
  color: rgb(216, 216, 216);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
